body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

#calculator-container {
  border: 10px solid black;
  width: 350px;
  height: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#screen {
  width: 100%;
  height: 25%;
  border: 5px solid rgb(126, 112, 112);
  box-sizing: border-box;
}

#buttons-container {
  width: 100%;
  height: 75%;
  border: 5px solid rgb(126, 112, 112);
  box-sizing: border-box;
  /* display: flex; */
  justify-content: flex-start;
  align-items: stretch;
}

.calculator-layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

button {
  width: 25%;
  height: 20%;
  box-sizing: border-box;
  /* border: none;
  margin: 0;
  padding: 0; */
}

.span-two-columns {
  width: 50%;
}

#screen {
  border: 2px solid black; /* just to see it clearly */
  display: flex; /* enable flexbox */
  justify-content: flex-end; /* move text to the right */
  align-items: flex-end; /* move text to the bottom */
  padding: 10px; /* add a little space from edges */
  font-size: 2rem; /* make the text bigger */
  font-family: monospace; /* calculator-style font look */
  overflow: hidden; /* prevent text from overflowing */
}
